*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    flex-direction: column;
    background-color: hsl(240, 100%, 70%);
}

header{
    display: flex;
    background-color: hsl(240, 100%, 70%);
    width: 100%;
    justify-content: center;
    padding: 10px;
    border-bottom:3px solid gold;
    box-shadow: 0 0 15px gold;
}
.selected {
  border: 2px solid white;
  background-color: gold;
  color: hsl(240, 100%, 30%);
}

.nav{
    display: flex;
    flex-direction: row;
}
ul{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: gold;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}
.down{
        background-color: hsl(240, 100%, 70%);
        padding-bottom: 10px;
        border:3px solid gold;
        box-shadow: 0 0 15px gold;
        border-top:0px solid gold;


}
.Easy-container{
    width: 80%;
    display: flex;
    flex-direction: column;    
}

.Easy-MainColor{
    width: 100%;
    background-color: rebeccapurple;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
     background-color:  hsl(240, 100%, 70%);
     border: 3px solid gold;
    box-shadow: 0 0 15px gold;
    border-bottom:2px solid gold

}

.Main{
    width: 300px;
    height: 220px;
    
}

.Answers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 10px;

   
}

.Next-Buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Next-Buttons button{
    padding: 4px;
    border-radius: 15px;
    border: 1px solid gold;
    background-color:  hsl(240, 100%, 70%);
    width: 60px;
    box-shadow: 0 0 15px gold;
}

button{
    cursor: pointer;
}